$blue: rgb(79, 125, 243);
$paleBlue: hsl(223, 100%, 88%);
$lightRed: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$darkGray: hsl(209, 33%, 12%);
$hoverBlue: rgba(79, 125, 243, 0.7);
$graya: rgba(124, 123, 123, 0.8);